.submitButton {
	height: 40px;
	width: 150px;
	font-size: 18px;
	margin: auto;
	align-items: center;
	background-color: deeppink;
	border: none;
	border-radius: 5px;
	color: white;
	box-shadow: 5px 5px;
}