.formInputWrapper {
	display: flex;
	justify-content: space-between;
	height: 35px;
	margin-bottom: 30px;
	width: 100%;
}

.formInputInput {
	width: 350px;
	border: 1px solid lightgray;
	border-radius: 5px;
	font-size: 18px;

	&:focus {
		outline: none;
		//border: 1px solid black;
	}
}

.formInputLabel {
	align-self: center;
	font-size: 18px;
}